<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8efbd62d-e99a-4ca7-bb79-59c98b9044be/resourceGroups/MarsOnboardingTask/providers/Microsoft.Web/sites/MarsOnboardingTask</ResourceId>
    <ResourceGroup>MarsOnboardingTask</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://marsonboardingtask.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>marsonboardingtask.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MarsOnboardingTask</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MarsOnboardingTask</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:marsserver2.database.windows.net,1433;Initial Catalog=MarsOnboardingDB;Persist Security Info=False;User ID=hson386;Password=Gusdk@0567;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:marsserver2.database.windows.net,1433;Initial Catalog=MarsOnboardingDB;Persist Security Info=False;User ID=hson386;Password=Gusdk@0567;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Mars_Onboarding2.Models.ApplicationDbContext, Mars_Onboarding2" MigrationConfiguration="Mars_Onboarding2.Migrations.Configuration, Mars_Onboarding2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:marsserver2.database.windows.net,1433;Initial Catalog=MarsOnboardingDB;Persist Security Info=False;User ID=hson386;Password=Gusdk@0567;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>