@{
    ViewBag.Title = "Home Page";
}
<body>
    <p id="ex1"></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="ui inverted header">
        <i class="space shuttle icon"></i>
        Mars Onboarding Task
    </h1>
    <h2>To explore more projects visit MVP Studio</h2>
    <button class="ui big primary button" onclick="window.location='http://www.mvp.studio/'">Exlpore<i class="right arrow icon"></i></button>




</body>
<style>

    html {
        height: 100%;
        margin: 0;
        color: #fff;
        text-align: center;
    }

    body {
        height: 100%;
        margin: 0;
        color: #fff;
        text-align: center;
        background-color: black;
        background-size: 100% 100%;
        background-position: left top, right top;
    }

    h1.ui.header {
        font-size: 2.5rem;
        font-weight: normal;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    h2 {
        font-weight: normal;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>